@mixin grid($columns, $rows, $column-gap, $row-gap){
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: $rows;
  grid-column-gap: $column-gap;
  grid-row-gap: $row-gap;
  @mixin spans($columns) {
    @for $i from 1 through $columns {
      .span-#{$i} {
        grid-column: auto / span $i;
      }
    }
  }
  @mixin starts($columns) {
    @for $i from 1 through $columns {
      .starts-#{$i} {
        grid-column-start: $i;
      }
    }
  }
  @include spans(#{$columns});
  @include starts(#{$columns});
}
@include grid(6, auto, 2vw, 2vh);