// Breakpoints
$break1: 30em;
$break2: 48em;
$break3: 64em;
$break4: 90em;

// Farben
$color1: rgb(0,0,0);
$color2: rgb(0,75,154);
$color3: rgb(0,160,230);
$color4: rgb(205,20,15);
$color5: rgb(255,255,0);
$color6: rgb(60,165,50);

$colorPG1: rgb(255,250,125);
$colorPG2: rgb(255,210,125);
$colorPG3: rgb(255,170,125);
$colorPG4: rgb(255,130,125);
$colorPG5: rgb(255,90,125);

$backgroundColor1: rgb(255, 255, 255);

$shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);


// Schrift
$font1: 'Balboa', Helvetica, sans-serif;
$font2: 'Balboa', Helvetica, Verdana, sans-serif;

$link-pfeil-schwarz: url("/files/layout/images/Link-Pfeil-BsP-FCB.svg");
$link-pfeil-weis: url("/files/layout/images/Link-Pfeil-BsP-FCB-weis.svg");

// Schrift Farben
$fontColor: rgb(0,0,0);
$fontColor2: rgb(0, 0, 0);

$hColor: $color1;
$linkColor: $fontColor;

$colorImageCaption: $fontColor;

// Schrift Größen
$fontSize: calc(18px + (20 - 18) * ((100vw - 320px) / (1600 - 300)));
$fontWidth: 400;
$lineHeight: 1.666;

$hWidth: 400;
$h1Size: calc(40px + (90 - 40) * ((100vw - 320px) / (1600 - 300)));
$h2Size: calc(35px + (80 - 35) * ((100vw - 320px) / (1600 - 300)));
$h3Size: calc(30px + (60 - 30) * ((100vw - 320px) / (1600 - 300)));
$h4Size: calc(25px + (40 - 25) * ((100vw - 320px) / (1600 - 300)));
$h5Size: $fontSize;
$h6Size: $fontSize;
$hLineHeight: 1.4;

$contentWidth: 100rem;
@mixin contentWidth{
  max-width: $contentWidth;
  margin-left: auto;
  margin-right: auto;
}

$abstandAussen: 0.75rem;

$spaltenAbstand: 1rem;

$borderRadius: 3px;

$grid-columns: 5fr 7fr;

// MIXINS
@mixin pageWidth {
  max-width: 1600px;
  margin: 0 auto;
  padding-left: $abstandAussen;
  padding-right: $abstandAussen;
}

@mixin transition($time: 0.2s) {
  -webkit-transition: ease all $time;
  -moz-transition: ease all $time;
  -o-transition: ease all $time;
  transition: ease all $time;
}

@mixin hover-background($background: white){
    @include transition();
    background-size: 210%;
    background-position-x: 100%;
    background-image: linear-gradient(90deg, (invert($background, 100%) 50%), $background 50%);

  &:hover, &:focus {
      background-image: linear-gradient(90deg, (invert($background, 100%) 50%), $background 50%);
      background-position-x: -2px;
      color: $background;
    }

}

$linearGradient: linear-gradient(to right, $color2 0%, $color2 15%, $color3 15%, $color3 30%, $color4 30%, $color4 40%, $color5 40%, $color5 50%, $color6 50%, $color6 60%, $color1 60%, $color1 68%, $color2 68%, $color2 76%, $color3 76%, $color3 83%, $color4 83%, $color4 88%, $color5 88%, $color5 93%, $color6 93%, $color6 97%, $color1 97%, $color1 100%);

@mixin button($normal: rgb(0,0,0), $active: rgb(255,255,255)) {
  position: relative;
  @include link-pfeil();
  appearance: none;
  border: 1px solid $active;
  padding: 5px;
  background-color: $normal;
  font-family: $font1;
  @include transition();
  span{
    @include transition();
    color: $active;
    position: relative;
    margin-right: 2vw;
    padding-right: 2px;
    background-color: $normal;
    z-index: 1;
    @media all and (min-width: $break2){
      margin-right: 5vw;
    }
  }
  &:after{
    @include transition();
    position: absolute;
    top: 15%;
    right: 5px;
    content: $link-pfeil-weis ;
    height: 1rem;
    object-fit: cover;
    background-image: none;
  }
  &:hover, &:focus {
    background-color: $active;
    border: 1px solid $normal;
    cursor: pointer;
    outline: none;
    span{
      background-color: $active;
      color: $normal;
    }
    &:after{
      content: $link-pfeil-schwarz;
      background-image: none;
    }
  }
  @media screen and (min-width: $break2){
  }
}


@mixin link-pfeil{
  padding: 5px;
  white-space: nowrap;
  &:after {
    @include transition();
    content: " ";
    display: inline-block;
    background-image: $link-pfeil-schwarz ;
    background-repeat: no-repeat;
    background-position-y: bottom;
    height: 1em;
    width: 6rem;
    margin-left: 1rem;
  }
  &:hover, &:focus{
    &:after{
      background-image: $link-pfeil-weis;
    }
  }

}

@mixin link-block($background: white){
  &.link-block{
    .text-container{
      .headline{
        @include transition();
        background-size: 210%;
        background-position-x: 100%;
        background-image: linear-gradient(90deg, (invert($background, 100%) 50%), $background 50%);
      }
      .text{
        .weiterlesen{
          @include transition();
          background-size: 210%;
          background-position-x: 100%;
          background-image: linear-gradient(90deg, (invert($background, 100%) 50%), $background 50%);
        }
      }
    }
    &:hover, &:focus {
      .text-container{
        .headline{
          background-position-x: -2px;
          color: $background;
        }
        .text{
          .weiterlesen{
            background-position-x: -2px;
            color: $background;

            &:after{
              background-image: $link-pfeil-weis ;
            }
          }
        }
      }
    }
  }
}