.ce_hyperlink {
  margin-bottom: 1rem;
  a {
    @include button();
    text-decoration: none;
    color: white;
    text-align: center;
    display: block;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
#wrapper{
  .schwarzer-hintergrund{
    .ce_hyperlink{
      a{
        &:hover, &:focus{
          color: black;
          >*{
            color: black;
          }
        }
      }
    }
  }
}