.ce_text {
    grid-column-start: 2;
  grid-column-end: 13;
  @media all and (min-width: $break3){
    grid-column-start: 3;
    grid-column-end: 11;
  }

  p, h1, h2, h3, h4, h5, h6 {
    & ~ ul, & ~ ol {
      margin-top: -1em;
    }
  }

  .text {
    .headline {
      display: inline-block;
    }

    a {
      @include hover-background(white);
    }

    .weiterlesen {
      @include link-pfeil;
    }
  }

  ul {
    > li {
      padding-left: 1.5rem;
      line-height: 1.5;
      margin-bottom: 1rem;

      &:before {
        content: '›';
        color: $color1;
        font-size: 1.5rem;
        display: inline-block;
        margin-right: 1rem;
        margin-left: -1rem;
        width: 0;
      }
    }
  }

  figure {
    margin-bottom: 1em;

    &.float_left, &.float-left {
      float: left;
      max-width: 45%;
      margin-right: 2em;
    }

    &.float_right, &.float-right {
      float: right;
      max-width: 45%;
      margin-left: 2em;
    }

    &.float_left, &.float_right, &.float-left, &.float-right {
      margin-top: 0.3125em;
      @media screen and (max-width: 650px) {
        max-width: 100%;
        float: none;
      }
    }

  }

  &.text2columns {
    column-count: 1;
    column-gap: initial;
    @media (min-width: $break2) {
      column-count: 2;
      column-gap: $abstandAussen;
    }
  }

  &.withoutFigcaption {
    figcaption {
      display: none;
    }
  }


  &.link-block {
    .headline {
      @include transition();
      background-size: 210%;
      background-position-x: 100%;
      background-image: linear-gradient(90deg, black 50%, white 50%);
    }

    .text {
      .weiterlesen {
        @include transition();
        background-size: 210%;
        background-position-x: 100%;
        background-image: linear-gradient(90deg, black 50%, white 50%);
      }
    }

    &:hover, &:focus {
      .text-container {
        .headline {
          background-position-x: -2px;
          color: white;
        }

        .text {
          .weiterlesen {
            background-position-x: -2px;
            color: white;

            &:after {
              background-image: $link-pfeil-weis;
            }
          }
        }
      }
    }

  }

  &.links, &.rechts {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: $rows;
    grid-column-gap: $column-gap;
    grid-row-gap: $row-gap;
    > * {
      grid-column: span;
    }
    @media all and (min-width: $break3){
      position: relative;
      .text-container{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &.links {
    figure {
      grid-column: 1/9;
    }

    .text-container {
      grid-column: 1/9;
    }

    @media all and (min-width: $break3) {
      figure {
        grid-row-start: 1;
        grid-column: 1/5;
      }

      .text-container {
        grid-row-start: 1;
        grid-column: 6/9;
      }
    }
    @for $k from 1 through 5 {
      &.image-span-#{$k} {
        figure {
          grid-column-start: 1;
          grid-column-end: ($k + 1);
        }

        .text-container {
          grid-column-start: ($k + 2);
          grid-column-end: 9;
        }
      }

    }
  }

  &.rechts {
    figure {
      grid-column: 1/9;
    }

    .text-container {
      grid-column: 1/9;
    }

    @media all and (min-width: $break3) {
      figure {
        grid-row-start: 1;
        grid-column: 5/9;
      }

      .text-container {
        grid-row-start: 1;
        grid-column: 1/4;
      }
    }

    @for $j from 1 through 5 {
      &.image-span-#{$j} {
        .text-container {
          grid-column-start: 1;
          grid-column-end: (9 - ($j+ 1));
        }

        figure {
          grid-column-start: (9 - $j);
          grid-column-end: 9;
        }
      }
    }
  }
}