.ce_text {
  p, h1, h2, h3, h4, h5, h6 {
    & ~ ul, & ~ ol {
      margin-top: -1em;
    }
  }

  .text{
    a{
      &:after{
        content: url("/files/layout/images/pfeil-forward.svg");
        color: $linkColor;
        display: inline-block;
        height: 1rem;
        width: 1rem;
        margin-left: 1rem;
      }
    }
  }

  ul {
    > li {
      padding-left: 1.5rem;
      line-height: 1.5;
      margin-bottom: 1rem;

      &:before {
        content: '›';
        color: $color1;
        font-size: 1.5rem;
        display: inline-block;
        margin-right: 1rem;
        margin-left: -1rem;
        width: 0;
      }
    }
  }

  figure {
    margin-bottom: 1em;
    &.float_left, &.float-left {
      float: left;
      max-width: 45%;
      margin-right: 2em;
    }
    &.float_right, &.float-right {
      float: right;
      max-width: 45%;
      margin-left: 2em;
    }
    &.float_left, &.float_right, &.float-left, &.float-right {
      margin-top: 0.3125em;
      @media screen and (max-width: 650px) {
        max-width: 100%;
        float: none;
      }
    }
  }

  &.text2columns {
    column-count: 1;
    column-gap: initial;
    @media (min-width: $break2) {
      column-count: 2;
      column-gap: $abstandAussen;
    }
  }
  &.withoutFigcaption {
    figcaption {
      display: none;
    }
  }
}