.ce_youtube {
  .video_container {
    .responsive {
      &.ratio {
        position: relative;
        height: 0;
        overflow: hidden;
        width: 100%;
        height: auto;
        &-169 {
          padding: 0 0 56.25% 0 !important;

        }
        &-1610 {
          padding: 0 0 62.5% 0 !important;
        }
        &-216 {
          padding: 0 0 28.5714% 0 !important;
        }
        &-43 {
          padding: 0 0 75% 0 !important;
        }
        &-32 {
          padding: 0 0 66.666% 0 !important;
        }
      }
    }
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }

  }
}