//Vars
$navColor: white;

// Horizontale Navigation
.mod_navigation {
  a, span, strong {
    display: block;
  }

  strong {
    color: $navColor;
  }

  a {
    color: $navColor;
    text-decoration: none;
    @include transition;

    &:hover {
      color: $navColor;
    }
  }

  ul {
    margin-bottom: 0;
  }

  .trail {
    color: $navColor;
  }

  &#mainnav {
    font-family: $font2;
    overflow: visible;

    .level_1 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-end;
      padding-right: 0.75rem;
      @media (min-width: $break3) {
        font-size: 1rem;
      }

      > li {
        position: relative;
        text-shadow: 0 3px 6px black;

        > a, > strong {
          float: left;

          &.first {
            padding-left: 0;
          }
        }

        &.active, &.trail {
          color: $navColor;
          font-size: 1.3em;

        }

        &:hover, &:focus {
          a {
            text-decoration: dotted white;
          }

          .level_2 {
            max-height: 500px;
            border-bottom-left-radius: $borderRadius;
            border-bottom-right-radius: $borderRadius;
            background-color: white;
          }

        }

        &:after {
          content: '|';
          margin: 0 1rem;
          font-size: 1rem;
          color: $navColor;
          font-weight: normal;
        }

        &:last-child:after {
          display: none;
        }

      }
    }

    .level_2 {
      font-family: $font1;
      position: absolute;
      top: 1.5em;
      z-index: 5;
      // animation bei hover hinzufügen
      overflow: hidden;
      max-height: 0px;
      @include transition;

      strong, a {
        color: $fontColor;
      }

      > li {
        font-size: 1rem;
        line-height: 1.3;
        text-shadow: none;
        @include transition;
        text-transform: initial;
        min-width: 30ch;

        > * {
          border-top: 1px solid rgb(230, 230, 230);
          padding: 0.5em;

        }

        > span {
          @include transition;
          font-weight: bold;
          color: $navColor;
        }

        > a {
          border-bottom: 1px dotted transparent;

          &:hover {
            border-bottom: 1px dotted $navColor;
            color: $color1;
          }

        }

        &.active, &.trail {
          strong, a {
            color: $color1;
            font-weight: 800;

          }
        }

        &.first {

          > * {
            border-top: none;
          }
        }

        &.last {

          > * {
          }
        }
      }
    }
  }

  @media (min-width: $break1) {
    display: flex;
  }
}
