//Vars
$navColor: white;

// Horizontale Navigation
.mod_navigation {
  a, span, strong {
    display: block;
  }

  strong {
    color: $navColor;
  }

  a {
    color: $navColor;
    text-decoration: none;

  }

  ul {
    margin-bottom: 0;
  }

  .trail {
    color: $navColor;
  }

  &#mainnav{
    display: block;
    height: 64px;
    ul{
      padding-top: 18px;
      display: flex;
      margin-left: 10px;
      li{
        margin-right: 1rem;
        overflow: hidden;
        &:last-of-type{
          margin-right: 0;
        }
        a{
          &:after{
            @include transition(0.2s);
            content: " ";
            height: 1px;
            width: 100%;
            display: block;
            background-color: black;
            transform: translateX(-101%);
          }
          &:hover, &:focus {
            &:after{
              transform: translateX(0);
            }
          }
          span{
            transition: none;
          }
        }
      }
    }
  }

  @media (min-width: $break1) {
    display: flex;
  }
}