/**
    Author
    www.mees-zacke.de
    Florian Krohmer
**/


body {

  #wrapper {

    /////////////////////////////
    //////// HEADER ////////
    ////////////////////////////
    #header {
      .inside{
        display: flex;
        justify-content: space-between;
        padding: 30px 10px 10px;
        @include pageWidth;
        #head-nav-suche-container{
          #opener-suche-container{
            display: block;
            .suche{
              display: none;
            }
            #mobile-opener{

            }
          }
          #mainnav{
            display: none;
          }
        }
        #head-logo-container{
          figure{
            padding: 0 1rem;
            img{
            }
          }
        }
      }

      @media all and (min-width: $break3){
        .inside{
          #head-nav-suche-container{
            #opener-suche-container{
              display: flex;
              .suche{
                display: block;
                .formbody{
                  display: flex;
                  padding: 10px;
                  .widget-{
                    &text{
                      width: 175px;
                      input{
                        width: 100%;
                        border: none;
                      }
                    }
                    &submit{
                      width: 28px;
                    }
                  }
                }
              }
              #mobile-opener{

              }
            }
            #mainnav{
              display: block;
              ul{
                padding-top: 18px;
                display: flex;
                margin-left: 10px;
                li{
                  margin-right: 1rem;
                  &:last-of-type{
                    margin-right: 0;
                  }
                }
              }
            }
          }
          #head-logo-container{
            figure{
              padding: 1rem;
              img{
              }
            }
          }
        }
      }
    }

    // Ende #Header

    /////////////////////////////
    ////////// CUSTOM //////////
    ////////////////////////////

    .custom{
      #kopfbild{
        .inside{
          .mod_article{
            figure{
              img{
              }
            }
          }
        }
        @media all and (min-width: 1920px) {
          .inside{
            .mod_article{
              figure{
                picture{
                  img{
                    height: 500px;
                    width: 100%;
                    object-fit: cover;
                  }
                }
              }
            }
          }
        }
      }
    }

    /////////////////////////////
    //////// CONTAINER ////////
    ////////////////////////////
    #container {

      // Anfang #main
      .mod_article{
        @include grid(12, auto, 2vw, 2vh);
      }

      #main {
        .inside{
          @include pageWidth;
          padding-top: 1rem;
        }
        @media all and (min-width: $break3) {
          padding-top: 150px;
        }
      }

      // Ende #main

    }

    // Ende #Container


    /////////////////////////////
    //////// FOOTER ////////
    ////////////////////////////
    #footer {
      background-color: black;
      border-top: 2px solid white;
      .inside{
        @include pageWidth;
        padding: 20px;
        *{
          color: white;
        }
        nav{
          ul{
            display: flex;
            width: 100%;
            justify-content: flex-end;
            margin-bottom: 5rem;
            li{
              margin-left: 4rem;
              &:first-of-type{
                margin-left: 0;
              }
            }
          }
        }
        #footer-info-container{
          display: flex;
          flex-wrap: nowrap;
          #footer-bsp-logo{
            figure{
              margin-right: 2rem;
              img{
                max-height: 90px;
                width: auto;
              }
            }
          }
          #footer-info{
            .bsp-logo{
              max-width: 500px;
              margin-bottom: 0.5rem;
            }
            .logo{
              max-width: 400px;
              margin-bottom: 0.5rem;
            }
          }
        }
      }
      @media all and (min-width: $break3){
        .inside{
          nav{
            ul{
              margin-bottom: 1rem;
            }
          }
        }
      }
    }

    // Ende #Footer

  }

  // Ende #wrapper
}