.cce-{
  &schwarzer-kasten{
    .headline{
      grid-column: 1 / 2 !important;
      color: white;
      padding-top: 40%;
      text-align: center;
      position: relative;
      &:after{
        content: "";
        display: block;
        background-color: black;
        width: 100%;
        padding-top: 100%;
        z-index: -1;
        position: absolute;
        top: 0;
      }
    }
    .text{
      grid-column: 2/-1 !important;
    }
  }
}