body {
  #wrapper {
    #container {
      #main {
        .inside {
          .mod_article {
            .cce-schwarzer-kasten {

              .text-container {
                text-align: center;
                .text-container-inner{
                  display: inline-block;
                  padding: 1rem;
                  background-color: black;
                  color: white;
                }

                .headline {
                  color: white;
                }

                .text {
                  background: none;

                  a{
                    color: white;
                    @include hover-background(black);
                  }

                  .weiterlesen {
                    @include hover-background(black);

                    &:after {
                      content: $link-pfeil-weis;
                    }

                    &:hover, &:focus {
                      &:after {
                        content: $link-pfeil-schwarz;
                      }
                    }
                  }
                }
              }

              @include link-block(black);

              &.link-block {
                &:hover, &:focus {
                  .text-container {
                    .text {
                      .weiterlesen {
                        &:after {
                          content: $link-pfeil-schwarz;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
