.mod_newslist {
  @include grid(12, auto, 2vw, 2vh);

  .layout_latest, .layout_short {
    grid-column: span 12;

    > a {
      display: block;
      @include link-block();

      .info {
        font-size: $linkSize;
        color: lighten($fontColor, 60%);
        margin-top: 1em;
        margin-bottom: 0;
      }

      h2 {
        display: inline-block;
        font-size: $h5Size;
        font-weight: 800;
      }

      .ce_text {
        p {
          margin-bottom: 0;
        }
      }

      .more-container {
        text-align: end;

        .more {
          font-size: $linkSize;
          color: lighten($fontColor, 60%);
          @include link-pfeil;
          display: inline-block;

        }
      }
    }
  }

  @media screen and (min-width: $break2) {
    .layout_latest, .layout_short {
      grid-column: span 6;
      margin-bottom: 2rem;
    }
  }
  @media all and (min-width: $break3) {
    .layout_latest, .layout_short {
      grid-column: span 4;
      margin-bottom: 4rem;
    }
  }
}

.mod_newsreader {
  .layout_full {
    @include grid(12, auto, 2vw, 2vh);
    grid-column: span 12;

    .info {
      margin-top: 2rem;
      grid-column: 11 / span 2;
      margin-bottom: 0;
      font-size: $linkSize;
      color: lighten($fontColor, 60%);
    }

    h1 {
      padding-top: 0;
      grid-column: span 12;
      text-align: center;
    }
  }

  .back {
    margin-top: 3rem;

    a {
      @include link();
      @include link-pfeil-back;
    }
  }
}
